
@import '~antd/dist/antd.css';
.input-inline input{
   width: 200px;
   display: inline-block;
   margin-right: 30px;
   margin-bottom:10px;
}

.btn-search{
  display: inline-block;
  width: 50px;
  margin-bottom: 20px;
}
.main{
  margin-left: 10%;
  margin-top:50px;
}
.main h2{
	font-size: 26px;

}
table thead th{
  text-align: center;
}
table tbody td{
  text-align: center;
}
table tbody td button{
	margin-left:10px;
}
.search{
	height: 30px;
}
.total{
	float: right;
}